/* start custom scss snippet */
code {
  font-size: map-get($base, font-size-sm);
}

.article__content blockquote {
  font-size: 1rem;
}

img.projects-icon {
  height: 26px;
  width: 26px;
  background-color: #222;
  border: 1px solid $main-color-1;
  padding: 3px;
  border-radius: 10%;
}

/* end custom scss snippet */

